# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print('2428993')

2428993

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [3]:
# Write your answer here:
students = pd.read_csv("data_raw/students.csv")
bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']
students['lettergrade'] = pd.cut(students['numericgrade'], 
                                 bins=bins, 
                                 labels=labels, 
                                 right=True)

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [4]:
# Write your own code
sprint_results = pd.read_csv('data_raw/sprint_results.csv')

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [6]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

#print(sprint_results)

if sprint_results['position'].dtypes == 'int11':
    print("The 'position' column data type matches the codebook.")
else:
    print("The 'position' column data type does not match the codebook.")

print("The 'position' column was expected to be an integer (listed as 'int11' in the codebook) but is a " +
      str(sprint_results['position'].dtypes) +
      " in the dataframe.")

The 'position' column data type does not match the codebook.
The 'position' column was expected to be an integer (listed as 'int11' in the codebook) but is a object in the dataframe.

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [7]:
# Write your own code here
# Create and store a list of non-numeric values

subset = sprint_results.query("position.str.isnumeric() == False")
list_unique = pd.unique(subset["position"])
print(list_unique)

list_old = ['\\N']
list_new = [np.nan]

sprint_results["position"] = sprint_results["position"].replace(list_old, list_new)
sprint_results['position'] = pd.to_numeric(sprint_results['position'])
print(sprint_results['position'])

['\\N']
0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
       ...
115    16.0
116    17.0
117    18.0
118    19.0
119     NaN
Name: position, Length: 120, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [8]:
# Write your own code
df_aggConstrcId_pos = (sprint_results.groupby(["constructorId"])
                       .agg(mean_position = ('position','mean'),
                            sd_position =   ('position','std')))

df_aggConstrcId_pos = df_aggConstrcId_pos.sort_values(by='mean_position', ascending=True)

print(df_aggConstrcId_pos)

best_constructor = df_aggConstrcId_pos.index[0]
print(f"The constructorId with the lowest mean position is: {best_constructor}")

               mean_position  sd_position
constructorId
9                   3.363636     2.419617
6                   4.750000     2.734460
131                 4.833333     4.174236
1                   7.250000     3.137022
214                11.636364     4.006812
117                12.750000     3.165869
51                 13.000000     3.549648
210                13.833333     5.236816
213                13.909091     2.981763
3                  16.181818     2.857208
The constructorId with the lowest mean position is: 9

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [9]:
# Write your own code
subset_data_100 = sprint_results.query('raceId >= 100')
df_subAggConstr_pos = (subset_data_100.groupby(["constructorId"])
                       .agg(mean_position = ('position','mean'),
                            sd_position =   ('position','std')))
print(df_subAggConstr_pos)

               mean_position  sd_position
constructorId
1                   7.250000     3.137022
3                  16.181818     2.857208
6                   4.750000     2.734460
9                   3.363636     2.419617
51                 13.000000     3.549648
117                12.750000     3.165869
131                 4.833333     4.174236
210                13.833333     5.236816
213                13.909091     2.981763
214                11.636364     4.006812