# <span style="color:darkblue"> Lecture 18 - Connecting to SQL via Python </span>

<font size = "5">

In the past lectures:

- We worked directly in SQL
- Imported data
- Carried out basic dataset operations

In  this lecture we will run SQL from Python

- Combine the best of both!
- Learn about escape characters!

# <span style="color:darkblue"> I. Import Libraries and Data </span>

<font size = "5">

Import libraries

In [2]:
# psycogpg2 helps us process SQL commands to send to the server
# sqlalchemy facilitates establishing a connection with the server

import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Import Data

In [3]:
# Import the two car racing datasets

results = pd.read_csv("data_raw/results.csv")
races = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")

<font size = "5">

Connect to SQL server

In [6]:
# Use the connection details to your server
# These are the default settings.
# "postgresql" is a fixed argument
# If you have a different host,database, username, or password,
# change the corresponding connection details

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'formula1',
    username = 'postgres',
    port = 5432,
    password  = '12345')

connection = create_engine(url_server)

<font size = "5">

Upload data to SQL

In [5]:
# Import the "results" table, with the name "results_sql"
# Con is an argument to specify the server connection
# "if_exists" is an option to replace the table if it already exists
# You can choose any name instead of "results_sql"

results.to_sql('results',
               con = connection,
               if_exists='replace',
               index=False)

# Import "races"
races.to_sql('races', 
             con = connection, 
             if_exists='replace',
             index=False)

102

<font size = "5">

Try it yourself!

- Upload the "circuits table" into SQL <br>
using ".to_sql()"

In [10]:
# Write your own code
circuits.to_sql('circuits', con= connection, if_exists='replace', index=False)

77

# <span style="color:darkblue"> II. "Escape" Characters </span>

<font size = "5">

- Backslash (\\) is known as an escape character
- Used for special operations on strings
- Great for working with text!

<font size = "5">

Multi-line strings (" \ ")

In [10]:
# Use a backslash to define strins over multiple lines
# Do not include a space after "\", otherwise it won't work.
example_string = "This is a string \
defined over multiple lines"

In [11]:
example_string

'This is a string defined over multiple lines'

<font size = "5">

"Double quotes" inside string

In [ ]:
"String \"something\" "

In [7]:
# Use a backslash + quotation 

example_double = "This will \"supposedly\" put double quotes inside a string"
print(example_double)

This will "supposedly" put double quotes inside a string

<font size = "5" >
'Single quotes' inside string

In [9]:
# There is no need for a backslash given single quotes 

example_single = "This will 'supposedly' put single quotes inside a string"
print(example_single)

This will 'supposedly' put single quotes inside a string

<font size = "5">

Try it yourself!

- Print a string ``` SELECT "driverId" FROM results; ``` <br> 
using backslash

In [8]:
# Write your own code
'SELECT "driverId" FROM results;'

'SELECT "driverId" FROM results;'

# <span style="color:darkblue"> III. Data operations </span>

<font size = "5">

- In SQL, operations are often called "queries"

<font size = "5">

Import Data from SQL

In [17]:
pd.read_sql(text("SELECT * FROM results;"), connection)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [7]:
# Use "pd.read_sql()"
# - The first argument is string with instructions wrapped in text()
#- The second argument is the server connection

# Extract all data from a column
example1 = pd.read_sql(text("SELECT * FROM results;"), connection)

# Extract a subset of columns
example2 = pd.read_sql(text("SELECT points \
                             FROM results;"), connection)

# Subset based on a string condition
example3 = pd.read_sql(text("SELECT * \
                             FROM races \
                             WHERE name = 'Abu Dhabi Grand Prix';"), connection)

# Note: (i) Remember to include "\"  to be able to define
#           strings over multiple lines
#       (ii) We can include single quotations in the WHERE command
#            without any additional escape characters

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "results" does not exist
LINE 1: SELECT * FROM results;
                      ^

[SQL: SELECT * FROM results;]
(Background on this error at: https://sqlalche.me/e/20/f405)

<font size = "5">

Upper case columns

- In SQL syntax we use double quotes e.g. ``` "driverId" ```
- ```.read_sql()``` requires a string inside a string
- To do so, use escape characters, e.g.   ``` \"driverId\" ```

In [11]:
# Select a column
example4 = pd.read_sql(text('SELECT "driverId" \
                             FROM results;'), connection)

# Compute an aggregate statistic
example5 = pd.read_sql(text("SELECT AVG(points) as mean_points \
                             FROM results \
                             GROUP BY \"driverId\" ;"), connection)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "results" does not exist
LINE 1: SELECT "driverId"                              FROM results;
                                                            ^

[SQL: SELECT "driverId"                              FROM results;]
(Background on this error at: https://sqlalche.me/e/20/f405)

<font size = "5">

Merge two datasets

In [27]:
# Merge 
# Reference the column \"driverId\" with escape characters
example6 = pd.read_sql(text("SELECT * \
                             FROM results \
                             LEFT JOIN races \
                             ON results.\"raceId\" = races.\"raceId\" ;"), connection)

# Merge a subset of columns
# Use "results_sql.*" to select all columns from the primary dataset
# Use "races_sql.date" to only select the "date" column from the secondary dataset 

example7 = pd.read_sql(text("SELECT results.*, races.date \
                             FROM results \
                             LEFT JOIN races \
                             ON results.\"raceId\" = races.\"raceId\" ;"), connection)

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- FROM results compute the sum of points by <br>
"raceId" <br>

In [5]:
# Write your own code
pd.read_sql(text("SELECT SUM(points) AS sum_points\
                 FROM results\
                 GROUP BY \"raceId\";"), connection)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "results" does not exist
LINE 1: ...CT SUM(points) AS sum_points                 FROM results   ...
                                                             ^

[SQL: SELECT SUM(points) AS sum_points                 FROM results                 GROUP BY "raceId";]
(Background on this error at: https://sqlalche.me/e/20/f405)

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- Merge "races" and the "circuits" table on "circuitId" <br>
tha you imported above using ```LEFT JOIN```

In [12]:
# Write your own
pd.read_sql(text("SELECT *\
                 FROM races\
                 LEFT JOIN circuits\
                 ON races.\"circuitId\" = circuits.\"circuitId\";"), connection)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "races" does not exist
LINE 1: SELECT *                 FROM races                 LEFT JOI...
                                      ^

[SQL: SELECT *                 FROM races                 LEFT JOIN circuits                 ON races."circuitId" = circuits."circuitId";]
(Background on this error at: https://sqlalche.me/e/20/f405)

# <span style="color:darkblue"> IV. Additional Material </span>

<font size = "5">

More about SQL syntax

https://www.w3schools.com/sql/